* {
  box-sizing: border-box;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  margin: 0;
  padding: 0;
}
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  /* border-top: 16px solid blue; */
  border-right: 16px solid green;
  /* border-bottom: 16px solid red;
  border-left: 16px solid pink; */
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}

@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}

@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

#myDiv {
  display: none;
  /* text-align: center; */
}
.reDiv {
  float: right;
  position: relative;
  background-color: #6ac466;
  width: 50.33%;
  min-height: 100vh;
  border-radius: 10px 0px 10px 525px;
  margin-top: -55px;
  margin-bottom: 40px;
  box-shadow: 0px 0px 0px 2px gray;
}
.reDiv img {
  margin-top: 150px;
}
.reDiv p {
  margin-top: 30px;
  margin-left: 22%;
  position: absolute;
  font-size: 30px;
  color: white;
}
.reDiv p span {
  color: black;
}

section p:first-child {
  position: absluote;
  color: #6ac466;
  margin-left: 5%;
  margin-top: 3%;
  font-size: 25px;
  font-weight: bold;
}
section p:first-child span {
  color: rgb(245, 241, 241);
  border: 1px solid;
  border-radius: 50%;
  font-size: 35px;
  padding: 5px;
  background-color: #6ac466;
}
section span {
  color: #6ac466;
  font-size: 65px;
  font-weight: bold;
  margin-left: 13%;
  margin-top: 3%;
}
section h3 {
  font-size: 45px;
  font-weight: bold;
  margin-left: 13%;
  margin-top: 1%;
}
section article {
  /* color: red; */
  width: 28%;
  font-size: 22px;
  margin-left: 13%;
  margin-top: 3%;
  max-height: 150px;
}
section button {
  font-size: 16px;
  background-color: #1f1716;
  color: #fff;
  padding: 10px 0px;
  width: 100%;
  max-width: 190px;
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  margin-left: 13%;
  margin-top: 3%;
  /* border-radius: ; */
}
section button:hover {
  background-color: #6ac466;
}
/**/
/* .sectionBody{
  margin-top: 500px;
  position: absolute;
} */
.sectionBody div:first-child {
  background: #fff;
  width: 120px;
  height: 120px;
  border-radius: 77px;
  border: #41c365 solid 4px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20% 20% 10px 25%;
  flex-wrap: wrap;
  transition: ease-in all 0.5s;
}
.sectionBody div:first-child img {
  padding: 5px;
  max-width: 100%;
  height: auto;
}
.sectionBody div:first-child:hover {
  background-color: black;
}
/**/
.sectionBody div:nth-child(2) {
  background: #fff;
  width: 120px;
  height: 120px;
  border-radius: 77px;
  border: #41c365 solid 4px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: -7% 0% 15px 45%;
  flex-wrap: wrap;
  transition: ease-in all 0.5s;
  visibility: visible;
}
main section div:nth-child(2) img {
  padding: 5px;
  max-width: 100%;
  height: auto;
}
.sectionBody div:nth-child(2):hover {
  background-color: black;
}
/**/
.sectionBody div:last-child {
  background: #fff;
  width: 120px;
  height: 120px;
  border-radius: 77px;
  border: #41c365 solid 4px;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: -7% 0% 15px 65%;
  flex-wrap: wrap;
  transition: ease-in all 0.5s;
  visibility: visible;
}
.sectionBody div:last-child img {
  padding: 5px;
  max-width: 100%;
  height: auto;
}
.sectionBody div:last-child:hover {
  background-color: black;
}
.titleForParts span:first-child {
  padding: 20px 0px 20px 0px;
  font-size: 30px;
  line-height: 30px;
  color: #1f1716;
  display: block;
  font-weight: 500;
  position: absolute;
  margin: -23px 0px 0px 25%;
}
/**/
.titleForParts span:nth-child(2) {
  padding: 20px 0px 20px 0px;
  font-size: 30px;
  line-height: 30px;
  color: #1f1716;
  display: block;
  font-weight: 500;
  position: absolute;
  margin: -23px 0px 0px 45%;
}
/**/
.titleForParts span:nth-child(3) {
  padding: 20px 0px 20px 0px;
  font-size: 30px;
  line-height: 30px;
  color: #1f1716;
  display: block;
  font-weight: 500;
  position: absolute;
  margin: -23px 0px 0px 64.2%;
}

article p {
  font-size: 17px;
  line-height: 30px;
  color: #1f1716;
  width: 19.5%;
}
article p:first-child {
  margin: 57px 0px 5px 20%;
}

article p:nth-child(2) {
  position: relative;
  margin: -96px 0px 5px 40%;
}
article p:nth-child(3) {
  margin: -97px 0px 5px 61%;
  position: relative;
}

.nthDiv {
  background-color: #d5ede0;
  width: 100%;
  min-height: 1050px;
  margin-top: 75px;
}

.nthDiv h3 span {
  margin-left: 550px;
}

.nthDiv h3 {
  font-size: 45px;
  font-weight: bold;
  margin-left: 13%;
  margin-top: 3%;
  position: absolute;
}

.nthDiv div {
  width: 100%;
  position: relative;
}
/* #d5ede0 */
.nthDiv div img {
  margin-left: 250px;
  margin-top: 200px;
}
.nthDiv div h3 {
  position: absolute;
  margin-left: 28%;
  margin-top: -400px;
}
.nthDiv div article p {
  width: 32%;
  position: absolute;
  margin-left: 28%;
  margin-top: -18%;
  font-size: 20px;
}
.nthDiv div article button {
  position: absolute;
  color: #41c365;
  background-color: #fff;
  border: 1px solid #41c356;
  cursor: pointer;
  margin-left: 28%;
  margin-top: -125px;
  text-align: cent;
  /* max-height: 0px; */
}
.nthDiv div article button:hover {
  background-color: #41c365;
  color: #fff;
}
.nthDiv div:last-child {
  position: absolute;
  visibility: visible;
  margin-top: -221px;
}
.lastdiv h3 {
  width: 50px;
  margin-left: 650px;
  margin-top: 80px;
  position: absolute;
}
.lastdiv article p:first-child {
  position: absolute;
  color: black;
  width: 60%;
  margin-top: 180px;
  margin-left: 10%;
}
.lastdiv article p:last-child {
  position: absolute;
  color: black;
  width: 60%;
  margin-top: 230px;
  margin-left: 25%;
  font-weight: bold;
  font-size: 25px;
}
.threeDiv {
  text-align: center;
  background: #3fbc61;
  border-radius: 20px;
  padding: 20px;
  width: 20%;
  display: inline-block;
  margin-top: 20%;
  /* margin-left: 20%; */
}
.threeDiv span {
  background: #ddd;
  width: 50px;
  height: 50px;
  color: #3fbc61;
  display: inline-block;
  border-radius: 30px;
}
.threeDiv p {
  width: 100%;
  font: optional;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
}
.threeSpans {
  margin-left: 48%;
  margin-top: 50px;
}
.threeSpans span {
  background: #3fbc61;
  width: 20px;
  height: 20px;
  color: #3fbc61;
  display: inline-block;
  border-radius: 30px;
  margin: 10px;
  cursor: pointer;
}
.threeSpans span:active {
  background-color: black;
}

footer section {
  margin-left: 49.33%;
  margin-top: -489px;
  position: absolute;
}
footer section h3,
footer section span {
  margin-top: 115%;
  font-size: 35px;
  width: 450px;
}
footer section span {
  margin-left: 10px;
}
.listDiv div {
  border: 1px solid;
  width: 700px;
  margin-top: 20px;
}

/* .active:after {
  content: "\2212";
} */
.listDiv div p {
  color: black;
  line-height: -22px;
  /* position: absolute; */
  margin-top: 6px;
  padding: 10px;
  background-color: gray;
}
.listDiv div span {
  position: absolute;
  margin-left: 94%;
  margin-top: -42px;
  width: 10px;
  cursor: pointer;
}
.hiddenP {
  display: none;
  overflow: hidden;
}
.contactUs {
  background-color: #163012;
  min-height: 600px;
  margin-bottom: 25px;
  margin-top: 25px;
}
.contactUs section {
  margin-left: 50px;
  position: absolute;
}
.contactUs section h3 {
  margin-top: 87%;
  margin-left: 269px;
  font-size: 35px;
  width: 450px;
}
.contactUs p {
  color: white;
  font-size: 50px;
  width: 18%;
  position: absolute;
  margin-top: 241px;
  margin-left: 15%;
}
.contactUs button {
  color: #3fbc61;
  font-size: 20px;
  width: 18%;
  height: 50px;
  position: absolute;
  margin-top: 25%;
  margin-left: 15%;
}
.contactUs button:hover {
  color: #fff;
  background-color: #3fbc61;
}
form {
  background: #fff;
  padding: 55px 40px;
  width: 25%;
  height: 12%;
  margin-left: 60%;
  position: absolute;
  margin-top: 50px;
}
form input {
  width: 100%;
  display: block;
  margin-bottom: 55px;
  height: 29px;
  border: none;
  border-bottom: 1px solid;
}
form button:last-child {
  background-color: #000;
  color: #fff;
  margin: 25px;
  margin-left: 111px;
  margin-top: 3%;
  width: 150px;
}

.copyR {
  color: #1e1e1e;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
}
.adImg {
  margin-top: 100px;
  margin-left: 27.33%;
}
